/* Ensure box-sizing is border-box for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.smallcontainer {
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
}

.link {
    width: 70%;
}

.number {
    display: flex;
    font-size: 2.5rem; /* Changed from 40px to 2.5rem */
    font-weight: 100;
    flex-direction: row;
    justify-content: center;
}

.containertop {
    display: flex;
    flex-direction: row-reverse;
    flex: auto;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .container {
        padding: 10px; /* Adjust padding for small screens */
    }
    .smallcontainer {
        flex-direction: column; /* Adjust layout for small screens */
    }
    .link {
        width: 100%; /* Adjust width for small screens */
    }
    .number {
        font-size: 2rem; /* Adjust font size for small screens */
    }
    .containertop {
        flex-direction: column; /* Adjust layout for small screens */
        justify-content: center;
        align-items: center;
    }
}