.title{
    font-weight: bold;
    color: var(--textTitle);
}
.container{
    height: 60vh;
    width: 100%;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.firstsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button:disabled {
    background-color: var(--bg); /* Gray */
    color: #666666;
    cursor: not-allowed;
}

.inputbox{
    border-radius: 5px;
    border: 1px solid var(--buttonborder);
    background-color: var(--bg);
    padding-top:3px;
    padding-left: 2px;
    color: var(--textValue)
}

.textarea{
    border-radius: 5px;
    height: 80%;
    width: 100%;
    color: var(--textValue);
    border: 1px solid var(--buttonborder);
    background-color: var(--bg)
}

.button{
    border-radius: 5px;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    border: 1px solid var(--buttonborder);
    background-color: var(--button);
    color: var(--textValue);
}