.container{
    display: flex;
    justify-content: space-between; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 5px;
    width: 100%; 
}

.label{
    font-weight: bold;
    padding: 5px;
    color: var(--textSoft);
}
.select{
    padding: 4px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bgHard);
    border-radius: 10px;
    width: 70%; /* Make the select take the full width of its parent */
    max-width: 100px; /* Set a max width for better control */
    text-align: center; /* Center the text inside the select */
}
.option{
    text-align: center; /* Center the text inside the option */
}