.container{
    display: flex;
    flex-direction: column;
    top: 40px;
    height:100%;
    position: sticky;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;; 
}

.menulink{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: var(--textValue)
}


.menulink:hover{
    background-color:#6C6D6E ;
}




